.app__button {
  cursor: pointer;
  &--all-events {
    padding: 15px 30px;
    border-radius: 100px;
    border: none;
    color: #aeaeae;
    font-size: .8em;
    background: transparent;
    font-weight: 500;
    margin: 0 auto;
    display: block;
    border: 1px solid #f0f0f0;
    position: relative;
    svg {
      margin-left: 5px;
      position: relative;
      transition: all ease 1s;
      border-radius: 100px;
      background: #fcb95a;
      position: absolute;
      right: -10px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:hover {
    }
  }
}
