@import url('https://fonts.googleapis.com/css?family=Poppins:400,800,900|Roboto:300,400,500,700,900');

$body-font: 'Roboto', sans-serif;
$poppins-font: 'Poppins', sans-serif;
$main-blue: #466085;
$main-orange: #fcb95a;